{% extends "base.html" %}

{% block title %}FanOfLuna Blog{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/earning_list.css') }}">
{% endblock %}
  <style>
    body {
      font-size: 19pt;
    }

    li {
      margin: 10pt;
    }
  </style>
  <title>Заработок</title>
</head>

<body>
  <ol>
    <li><a href="https://adbtc.top/surf/browse" target="_blank">adBTC</a></li>
    <li>Telegram-боты</li>
    <li><a href="https://freebitco.in/?op=home" target="_blank">Freebitcoin</a></li>
  </ol
</body>

</html>
